body{
	    background-color: #eddac7;
      font-family: 'PT Sans', sans-serif;
      letter-spacing: 2px;
      font-weight: 100;







}

h1{
    font-family: Posterama;
    font-weight: 000;
    letter-spacing: 3px;
    font-size: 40px;
    color: #7a6c51;
}
	
a{
	text-decoration: none;
	color: black;
}

a:hover {
	color: #7a6c51;
}

h2{
	color: #cdac8f;
	font-family: Posterama;
	font-weight: 700;
	font-style: oblique;
	font-size: 25px;


}


.cadre{
	    padding: 30px;
    margin: 40px;
    box-shadow: 0px 10px 30px;
    border-radius: 4px;
    background: whitesmoke;
    text-align: center;

}


.list-inline i{
	font-size: 30px;
	list-style: none;
	padding-left: center;

}

.container {
	margin: auto;
	width: 850px;
}

@media (max-width: 500px) {

	.container{
		width: 400px;
	}
}

@media (max-width: 760px) {

	.container{
		width: 600px;
	}
}



